[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_private_key_content }}
{% set wireguard_inventory_hostnames = groups[wireguard_all_peers_inventory_group] | difference([inventory_hostname]) %}
{% for hostname in wireguard_inventory_hostnames %}
{% set peer = hostvars[hostname] %}

[Peer]
# {{ peer['inventory_hostname'] }}
PublicKey = {{ peer['wireguard_public_key_content'] }}
AllowedIPs = {{ peer.wireguard_address }}
Endpoint = {{ peer['wireguard_endpoint'] }}
PersistentKeepalive = {{ peer['wireguard_keepalive'] | default(wireguard_default_keepalive) }}
{% endfor %}
